{% extends 'HealthQuest/index.html' %}
{% block content %}
<h1>Usuarios</h1>
<div class="row">
    <a class="btn btn-primary" href="create_users.html" role="button">Crear nuevo usuario</a>
    <a class="btn btn-primary" href="physical_evaluations.html" role="button">Evaluación fisica</a>
</div>
<ul>
<div class="card-body">
    <table id="datatablesSimple">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Número</th>
                <th>Dirección</th>
                <th>Cedula</th>
                <th>Edad</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            {% for obj in object_list %}
            <form method="POST" action="eliminar/{{obj.id}}">
                <tr>
                    <td><a href="update.html/{{ obj.id }}">{{ obj.name }}</a></td>
                    <td>{{ obj.phone_number }}</td>
                    <td>{{ obj.address }}</td>
                    <td>{{ obj.identification }}</td>
                    <td>{{ obj.anios }}</td>
                    <td><button class="btn btn-danger" onclick="return eliminar();" type="submit">Eliminar</button></td>
                </tr>
            </form>
            {% endfor %}
        </tbody>
    </table>
</div>
<script type="text/javascript">
    function eliminar() {
        var x = confirm("¿Está seguro de que desea eliminar el usuario?");
        if (x)
            return true;
        else
            return false;
    }
</script>
</ul>
{% endblock %}