{% extends 'HealthQuest/index.html' %}
<!DOCTYPE html>
<html lang="en">
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Pagos</title>
</head>
<body>
<h1>Pagos</h1>
<div class="row">
        <a class="btn btn-primary" href="payments.html" role="button">Añadir</a>
</div>
<ul>
<div class="card-body">
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Fecha de facturación</th>
                <th>Fecha de pago</th>
                <th>Monto</th>
            </tr>
        </thead>
        <tbody>
            {% for obj in object_list %}
                <tr>
                    <td><a href="update_payments/{{ obj.id }}" class="btn">{{ obj.client }}</a></td>
                    <td>{{ obj.date }}</td>
                    <td>
                    {% if obj.payment_date <= obj.payment_red %}
                        <div class="p-3 mb-2 bg-danger text-white">{{ obj.payment_date }}</div>
                    <!---
                    {% elif obj.payment_date == obj.payment_yellow %}
                        <div class="p-3 mb-2 bg-warning text-white">{{ obj.payment_date }}</div>
                    --->
                    {% else %}
                        {{ obj.payment_date }}
                    {% endif %}
                    </td>
                    <td>{{ obj.amount }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</ul>
</body>
{% endblock %}
</html>